Source: libgwavi
Maintainer: Folkert van Heusden <mail@vanheusden.com>
Section: graphics
Priority: optional
Standards-Version: 4.5.0
Build-Depends: debhelper (>= 10~), doxygen
Homepage: https://projects.gw-computing.net/projects/libgwavi

Package: libgwavi-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: libgwavi is a tiny C library aimed at creating
 AVI files. These files can be video files with or without
 audio. It does not provide compression, it only helps
 producing a container (the AVI file).
